.favoriteButton {
    font-size: 16px;
}

.favoriteButton:hover {
    color: #fa6b6b;
}

.selected {
    color: #fa6b6b;
}

.favoriteButton:disabled {
    opacity: 0.5;
}

.favoriteButton:disabled:hover {
    color: black;
}